body {
  background-color: aliceblue;
  font-family: sans-serif;
}

.images {
  width: 1200px;
  display: flex;
  justify-content: space-between;
}
.image-container {
  width: 350px;
  margin-bottom: 50px;
  h2 {
    margin-top: 5px;
  }
  img {
    width: 100%;
  }
}

.container {
  width: 800px;
  margin: auto;
}
#canvas-container {
  canvas {
    margin: 50px auto 30px auto;
    display: block;
  }
}

p {
  line-height: 1.5em;
}
