<header>
	<h1>p5GRAM</h1>
</header>

<div class="container">
  <div id="canvas-container">

  </div>

  <p id="instructions">Click once and then move your mouse to draw. Click again to stop drawing. Press C to use circles, Q to use squares, R to change the color, B to clear the canvas and make the background black, W to clear the canvas and make the background white, and S to download your sketch.</p>

</div>

<script src="/js/p5/p5.min.js"></script>
<script src="/js/p5/p5.dom.min.js"></script>
<script src="/js/sketch.js"></script>
