<div class="home-container">
  <h1>WELCOME TO p5GRAM</h1>
  <div id="register" class="home-block">
    <a href="/register">Register</a>
  </div>
  <div id="login" class="home-block">
    <a href="/login">Login</a>
  </div>

</div>
