<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>p5Gram</title>
  </head>
  <body>
    <h1>p5Gram</h1>
    {{#if user}}
    <p>Welcome, {{user.username}}</p>
    <a href="/create">Create sketch</a>
    <a href="/add">Upload image</a>
    <a href="/settings">Manage account</a>
    {{else}}
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    {{/if}}
    {{{body}}}
  </body>
</html>
