<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>p5Gram</title>
  </head>
  <body>
    {{#if user}}
    <div class="header-left">
      <p>Welcome, {{user.firstName}} {{user.lastName}}</p>
    </div>
    <div class="header-right">
      <a href="/{{user.username}}/sketches">My sketches</a><br>
      <a href="/create">Create sketch</a><br>
      <a href="/add">Upload sketch</a><br>
      <a href="/settings">Manage account</a>
    </div>
    {{/if}}
    {{{body}}}
  </body>
</html>
