<header>
	<h1>p5GRAM</h1>
</header>

<div class="form-div">
	<h2>Manage Your Profile</h2>
	{{#if message}}
	<div class="error">{{message}}</div>
	{{/if}}
	<form method="POST" action="settings">

			<label for="firstName">First name</label>
			<input type="text" class="form-text" name="firstName" value="{{user.firstName}}" required>

			<label for="lastName">Last name</label>
			<input type="text" class="form-text" name="lastName" value="{{user.lastName}}" required>

			<input type="submit" class="form-submit"value="Update">
	</form>

</div>
