body {
  background-color: aliceblue; }
  body h1 {
    font-family: sans-serif; }

.image-container {
  width: 200px;
  margin-bottom: 50px; }
  .image-container h2 {
    margin-top: 5px; }
  .image-container img {
    width: 100%; }
